.leftSideRectangle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 808px;
  height: 768px;
}
.vectorIcon {
  position: absolute;
  height: 0.13%;
  width: 100%;
  top: 94.14%;
  right: 0;
  bottom: 5.73%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.span {
  color: var(--color-black);
}
.inscrivezVous {
  color: var(--color-coral);
}
.pasDeCompteContainer {
  position: absolute;
  top: 436px;
  left: 194px;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 22px;
  display: inline-block;
  width: 281px;
  height: 32px;
  cursor: pointer;
  color: var(--color-silver);
}
.submitRectangleIcon {
  position: relative;
  border-radius: var(--br-4xl);
  width: 223px;
  height: 37px;
  flex-shrink: 0;
}
.connectezVous {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 157px;
  height: 27px;
  flex-shrink: 0;
}
.antDesignswapLeftOutlinedIcon {
  position: relative;
  width: 33px;
  height: 25px;
  flex-shrink: 0;
  overflow: hidden;
}
.insideSubmitRectangle {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 37px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  margin-top: -37px;
}
.submit,
.submit1 {
  display: flex;
  flex-direction: column;
}
.submit1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 180px;
  align-items: center;
  justify-content: flex-end;
}
.submit {
  position: absolute;
  top: 358px;
  left: 270px;
  align-items: flex-start;
  justify-content: flex-start;
}
.passwordRectangle {
  border: 0;
  background-color: var(--color-snow);
  position: absolute;
  top: 31px;
  left: 0;
  width: 478px;
  height: 46px;
}
.motDePasse,
.motDePasse1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 94px;
}
.motDePasse1 {
  top: 2px;
  left: 341px;
  font-size: var(--font-size-xs);
  text-decoration: underline;
  color: inherit;
  text-align: center;
  width: 134px;
  opacity: 0.5;
}
.password1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.password {
  position: absolute;
  top: 223px;
  left: -3px;
  width: 478px;
  height: 77px;
}
.email3 {
  margin: 0;
}
.email2,
.emailRectangle {
  position: relative;
  flex-shrink: 0;
}
.email2 {
  font-weight: 300;
  display: inline-block;
  width: 38px;
  height: 40px;
}
.emailRectangle {
  border: 0;
  background-color: var(--color-snow);
  align-self: stretch;
  height: 46px;
  margin-top: -11px;
}
.email,
.email1 {
  width: 475px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email {
  position: absolute;
  top: 104px;
  left: -3px;
  width: 478px;
}
.loginForm {
  position: absolute;
  height: calc(100% - 245px);
  width: calc(100% - 884px);
  top: 198px;
  right: 671px;
  bottom: 47px;
  left: 213px;
  font-size: var(--font-size-sm);
}
.connexion {
  position: absolute;
  height: calc(100% - 685.44px);
  width: calc(100% - 990.18px);
  top: 229px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
}
.connexion,
.raviDeVous,
.santConnect {
  left: 210px;
  display: inline-block;
}
.santConnect {
  position: absolute;
  height: calc(100% - 702px);
  width: calc(100% - 996px);
  top: 117px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-coral);
}
.raviDeVous {
  height: calc(100% - 746.38px);
  width: calc(100% - 1153.96px);
  top: 198px;
  letter-spacing: 0.03em;
  line-height: 22px;
  color: var(--color-gray-100);
}
.logo,
.logoIcon,
.raviDeVous {
  position: absolute;
}
.logoIcon {
  height: 164%;
  width: 163.49%;
  top: -16.8%;
  right: -31.75%;
  bottom: -47.2%;
  left: -31.75%;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo {
  height: calc(100% - 643px);
  width: calc(100% - 1230px);
  top: 104px;
  right: 660px;
  bottom: 539px;
  left: 570px;
}
.backgroundConnexionIcon {
  position: absolute;
  height: 100%;
  width: calc(100% - 808px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 808px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.santConnect1 {
  position: absolute;
  top: 726px;
  left: 500px;
  letter-spacing: 0.03em;
  line-height: 22px;
  font-weight: 600;
  color: var(--color-gray-200);
  display: inline-block;
  width: 189px;
  height: 44px;
}
.login {
  position: relative;
  background-color: var(--color-linen);
  width: 100%;
  height: 768px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
