.leftSideRectangle {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  height: 100%;
  width: calc(100% - 539px);
  top: 0;
  right: 539px;
  bottom: 0;
  left: 0;
}
.santConnect {
  position: absolute;
  top: 1221px;
  left: 508px;
  letter-spacing: 0.03em;
  line-height: 22px;
  font-weight: 600;
  color: var(--color-gray-200);
  display: inline-block;
  width: 189px;
  height: 44px;
}
.vectorIcon {
  position: absolute;
  width: 100%;
  top: 93.91%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 0;
}
.connectezVous {
  color: var(--color-coral);
}
.vousAvezDjContainer {
  position: absolute;
  top: 903px;
  left: 91px;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 22px;
  display: inline-block;
  width: 394px;
  height: 32px;
  cursor: pointer;
  color: var(--color-silver);
}
.submitRectangleIcon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-4xl);
  max-width: 100%;
  overflow: hidden;
  height: 37px;
  flex-shrink: 0;
}
.inscrivezVous {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 140px;
  height: 26px;
  flex-shrink: 0;
}
.antDesignswapLeftOutlinedIcon {
  position: relative;
  width: 33px;
  height: 25px;
  flex-shrink: 0;
  overflow: hidden;
}
.insideSubmitRectangle,
.submit {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.insideSubmitRectangle {
  width: 178px;
  height: 37px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -37px;
}
.submit {
  position: absolute;
  top: 828px;
  left: 250px;
  width: 228px;
  flex-direction: column;
  justify-content: flex-end;
}
.pays1 {
  margin: 0;
}
.countryRectangle,
.pays {
  position: relative;
  flex-shrink: 0;
}
.pays {
  font-weight: 300;
  display: inline-block;
  width: 38px;
  height: 36px;
}
.countryRectangle {
  border: 0;
  background-color: var(--color-snow);
  align-self: stretch;
  border-radius: var(--br-9xs);
  height: 46px;
  margin-top: -11px;
}
.country {
  position: absolute;
  top: 676px;
  left: 0;
  width: 482px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ge {
  position: relative;
  font-weight: 300;
}
.ageRectangle {
  border: 0;
  background-color: var(--color-snow);
  align-self: stretch;
  position: relative;
  border-radius: var(--br-9xs);
  height: 46px;
  flex-shrink: 0;
}
.age,
.confirmpassword,
.email,
.password {
  position: absolute;
  top: 567px;
  left: 0;
  width: 482px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.confirmpassword,
.email,
.password {
  top: 452px;
}
.email,
.password {
  top: 334px;
  left: -2px;
}
.email {
  top: 222px;
  left: 0;
  width: 478px;
  gap: var(--gap-6xs);
}
.identifiant {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 91px;
  height: 38px;
  flex-shrink: 0;
}
.usernameRectangle {
  border: 0;
  background-color: var(--color-snow);
  align-self: stretch;
  position: relative;
  border-radius: var(--br-9xs);
  height: 45px;
  flex-shrink: 0;
  margin-top: -11px;
}
.username {
  position: absolute;
  top: 114px;
  left: 0;
  width: 482px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.registerForm {
  position: absolute;
  height: calc(100% - 284px);
  width: calc(100% - 874px);
  top: 219px;
  right: 655px;
  bottom: 65px;
  left: 219px;
  font-size: var(--font-size-sm);
}
.inscription,
.inscrivezVousEtDcouvrez {
  position: absolute;
  left: 219px;
  display: inline-block;
}
.inscription {
  height: calc(100% - 1198.44px);
  width: calc(100% - 990.18px);
  top: 250.45px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
}
.inscrivezVousEtDcouvrez {
  width: calc(100% - 1148px);
  top: 99px;
  letter-spacing: 0.03em;
  line-height: 22px;
  color: var(--color-gray-100);
}
.santeConnectBrand {
  position: absolute;
  height: calc(100% - 1215px);
  width: calc(100% - 998px);
  top: 175px;
  left: 217px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-coral);
  display: inline-block;
}
.backgroundConnexionIcon {
  position: absolute;
  height: 100%;
  width: calc(100% - 817px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 817px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo,
.logoIcon {
  position: absolute;
}
.logoIcon {
  height: 164%;
  width: 163.49%;
  top: -16.8%;
  right: -31.75%;
  bottom: -47.2%;
  left: -31.75%;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo {
  height: calc(100% - 1156px);
  width: calc(100% - 1230px);
  top: 93px;
  right: 655px;
  bottom: 1063px;
  left: 575px;
}
.register {
  position: relative;
  background-color: var(--color-linen);
  width: 100%;
  height: 1281px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
